ul.social-network{
    list-style:none ;
    display:inline;
    padding: 0px;
}

ul.social-network li{ 
    display: inline;
    margin: 0px;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color:white;
    padding: 10px;   
    
}

.fa-facebook-square:hover{
    color:blue
}

.fa-instagram:hover{
    color:crimson
}

.fa-linkedin-square:hover{
    color:cadetblue
}




