<body class="fd-azul">

<div class="container ">

    <div class="row justify-content-center ">
        <div class=" col-lg-7 col-md-10 col-sm-3 col-xs-3 ">

            <div class="row d-flex justify-content-center  mt-3">
                <div class="card-cadastro">

                  <h2 class="centralizar text-azul mt-3 mb-3">Cadastre-se</h2><hr>

                    <div class="form-group " >
                      <label for="nome"  required>Tipo de Perfil</label>
                      <select required (keydown.enter)="cadastrar()" (change)="tipoUser($event)"  class="form-control select"
                          name="tipo" id="tipo">
                          <option value="Normal" select>Normal</option>
                          <option value="Administrador">Administrador</option>
                      </select>

                  </div>


                    <form action="" method="post" *ngIf="tipoUsuario === 'Administrador'">
                        <input (input)="receberSenhaAdm($event)" type="password" class="form-control " id="titulo"
                        placeholder="Insira o código de Administrador">
                        <div class="direita ">
                          <button (click)="validarSenhaAdm()" type="submit"
                              class="btn btn-azul text-branco align-center roboto text-white mt-3">Validar código</button>
                            </div>
                            </form>


                    <div class = "input">
                    <form name="nome" id="nome" method="post" autocomplete="off" action="">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='user.nome' pattern="[A-Za-z]{3}" class="form-control"
                         type="text" name="nome" onchange="this.value = this.value.trim()"
                        id="usuario" placeholder="Insira seu nome">
                        <span>Insira um nome válido</span>
                    </form>
                  </div>

                  <div class = "input">
                    <form name="email" id="email" method="post" autocomplete="off" action="">
                      <label for="email">E-mail</label>
                      <input [(ngModel)]='user.usuario' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  class="form-control"
                      type="text" name="email" onchange="this.value = this.value.trim()"
                      id="email" placeholder="Insira seu e-mail">
                      <span>Insira um e-mail válido</span>

                    </form>
                  </div>


                    <form name="foto" id="foto" method="post" autocomplete="off" action="">
                      <label for="foto">Link da Foto (Opcional)</label>
                        <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </form>

                    <div class=" input">
                    <form name="senha" id="senha" method="post" autocomplete="off" action="">
                      <label for="senha">Senha</label>
                        <input [(ngModel)]='user.senha'class="form-control" onchange="this.value = this.value.trim()"pattern=".{6,}"  type="password" name="senha" id="senha" placeholder="Sua senha">
                      <span>Insira uma senha válida</span>
                      </form>
                    </div>

                    <form name="confirmarSenha" id=confirmarSenha method="post" autocomplete="off" action="">
                      <label for="confirmSenha">Confirmar Senha</label>
                        <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                    </form>

                      <div class="jusfity-content-flex-end mb-2 ">

                    <div class="centralizar mp-3">
                        <button type="submit" routerLink='/entrar' class="btn btn-branco mr-1 ml-1 mb-2">Cancelar</button>
                        <button type="submit" class="btn btn-azul mb-2 mr-1 ml-1  text-branco " (click)='cadastrar()'>Cadastrar</button>
                    </div>


                </div>
              </div>


    </div>

</div>
</div>
</div>


</body>
